<!DOCTYPE html> 
<html>
<body ng-app="wikiApp">
  <div ng-controller ="wikiCtrl">
    <h1>{{headerInfo.project}}</h1>
    <h3>{{headerInfo.site}} </h3>
    </div>
    <div class= "row" >
        <div class= "col-md-11">
            <input class ="form-control" ng-model="searchTerm" placeholder="Search WikiTables here">
        </div>
        <div class="col-md-1">
            <a class= "btn btn-primary" ng-click="searchWiki()">Search</a>

        </div>
        <div>
            <span ng-repeat="info in searchTermArr[0]">
                <a ng-href= "{{searchTermArr[2][$index]}}" target="blank">
                    <h1> {{$index + 1}}{{info}}</h1>
                </a>
                    <h2> {{searchTermArr[1][$index]}}</h2>
            </span>
        </div>
    </div>
</body>
<script>
  var app = angular.module('wikiApp', []);

app.controller('wikiCtrl', function($scope, $http){
    var vm =$scope;
    vm.searchTermArr=[];
    vm.headerInfo={
        project: "EDP: EB01",
        site: "Table Search from unstructured data"
    };

vm.randomLink= "https://en.wikipedia.org/wiki/Special:Random";

vm.searchWiki = function(){$http({
    url:'https://en.wikipedia.org/w/api.php?action=opensearch&search='+vm.searchTerm+'&format=json&callback=JSON_CALLBACK',
    method:'jsonp'

}).success(function(response){
    //Title
    vm.searchTermArr.push(response[1]);
    //Description
    vm.searchTermArr.push(response[2]);
    //Article Link
    vm.searchTermArr.push(response[3]);

});}


});
</script>
</html> 
